*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

*::selection {
  background: rgb(var(--accent));
  color: rgb(var(--light));
}


:root {
  --base-font-size: 13px;
  --scale-factor: 1;

  /* Screen size breakpoints */
  --xs-screen: 480px;
  --s-screen: 768px;
  --m-screen: 992px;
  --lg-screen: 1200px;
  --xl-screen: 1800px;


  /* Transition times */
  --slow-transition: 0.6s;
  --normal-transition: 0.3s;
  --fast-transition: 0.15s;

  --text-color: 255, 255, 255;
  --text-color-200: 230, 230, 230;
  --text-color-300: 203, 203, 203;

  --primary: 33, 177, 255;
  --primary-200: 63, 160, 213;
  --primary-300: 79, 138, 170;

  --accent: 255, 162, 38;

  /* Background */
  --bg-color: 80, 111, 128;
  --bg-color-200: 68, 79, 85;
  --bg-color-300: 43, 48, 51;

  --bg-opacity: 0.8;
  --blur-effect: blur(5px);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(var(--bg-color-300));
  color: rgb(var(--text-color));
  transition: background-color var(--slow-transition), color var(--slow-transition);
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}

html {
  font-size: var(--base-font-size);
}

h1 {
  color: rgb(var(--text-color));
  font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui;
  font-size: calc(1rem * var(--scale-factor) + 0.4vw);
  margin-bottom: calc(0.15rem * var(--scale-factor));
}

h2 {
  color: rgb(var(--text-color));
  font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui;
  font-size: calc(1rem * var(--scale-factor) + 0.35vw);
  margin-bottom: calc(0.1rem * var(--scale-factor));
}

h3 {
  color: rgb(var(--text-color));
  font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui;
  font-size: calc(1rem * var(--scale-factor) + 0.3vw);
  margin-bottom: calc(0.1rem * var(--scale-factor));
}

h4 {
  color: rgb(var(--text-color));
  font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui;
  font-size: calc(1rem * var(--scale-factor) + 0.25vw);
  margin-bottom: calc(0.05rem * var(--scale-factor));
}

h5 {
  color: rgb(var(--text-color));
  font-family: Verdana, Geneva, Tahoma, sans-serif, system-ui;
  font-size: calc(1rem * var(--scale-factor) + 0.2vw);
  margin-bottom: calc(0.05rem * var(--scale-factor));
}

/* Media queries se mantienen igual */
@media (max-width: var(--xs-screen)) {
  :root {
    --scale-factor: 0.8;
  }

  .container {
    width: 100vw;
    padding: 0 calc(0.5rem * var(--scale-factor));
  }
}

@media (max-width: var(--s-screen)) {
  :root {
    --scale-factor: 0.85;
  }
}

@media (max-width: var(--m-screen)) {
  :root {
    --scale-factor: 0.9;
  }

  .container {
    width: 95vw;
  }
}

@media (max-width: var(--lg-screen)) {
  :root {
    --scale-factor: 0.95;
  }
}


@media (min-width: var(--xl-screen)) {
  :root {
    --scale-factor: 1.1;
  }
}